baseURL = 'https://cybermikael.github.io/nehwe-technologies'
languageCode = 'en-us'
title = 'Nehwe Technologies'
theme = "PaperMod"

enableRobotsTXT = true

[params]
    defaultTheme = "auto"
    ShowReadingTime = true
    ShowShareButtons = false
    ShowPostNavLinks = true
    ShowBreadCrumbs = true
    ShowCodeCopyButtons = true

    description = "Federal cybersecurity compliance, risk management, and audit readiness."

    [menu]
        [[menu.main]]
            name = "Services"
            url = "/services/"
            weight = 10

        [[menu.main]]
            name = "About"
            url = "/about/"
            weight = 20

        [[menu.main]]
            name = "Contact"
            url = "/contact/"
            weight = 30
